.tile-image {
    height: 100%;
  // chanfe this to 25vh
}

.rotate-image{
    transform: rotate(-90deg);
}

.no-rotate-image{
    transform: rotate(0deg);
}

mat-grid-tile {
    border-radius: 8%;
}
