.example-container{
    height: 100%;
}

#brand-name{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 0;
}

#not-a-brand{
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
  