@import '~@angular/material/theming';

@include mat-core();

$custom-primary: mat-palette($mat-blue-grey);
$custom-accent: mat-palette($mat-grey, A200, A100, A400);
$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);